<!DOCTYPE html>
 

<!doctype html>

<head>

	<!-- Basics -->
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Login</title>

	<!-- CSS -->
	
 <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/stylesheet.css') }}"/> 
      <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/reset.css') }}"/> 
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/animate.css') }}"/> 
       <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/styles.css') }}"/>  
      
	
</head>

	<!-- Main HTML -->
	
<body>
	
	<!-- Begin Page Content -->
	
	<div id="container">
		  {% block fos_user_content %}
                  {% endblock fos_user_content %}
	</div>
	
	
	<!-- End Page Content -->
	
</body>

</html>
	
	
	
	
	
		
	